@model IEnumerable<VehicleManagementSystem.Models.Car>

@{
    ViewBag.Title = "ListOfCar";
}

<h2>Car List</h2>

<p>
    @Html.ActionLink("Add New Car", "AddCar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Engine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfDoors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BodyType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Engine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfDoors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BodyType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })            
        </td>
    </tr>
}

</table>
