@model IEnumerable<VehicleManagementSystem.Models.Car>

@{
    ViewBag.Title = "ListOfCar";
}

<h2>Car List</h2>
<div ng-app="app" ng-controller="CarController as vm">
    <p>
        @Html.ActionLink("Add New Car", "AddCar")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfDoors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyType)
            </th>
            <th></th>
        </tr>

       
            <tr ng-repeat="car in vm.cars">
                <td>
                    {{car.Make}}
                </td>
                <td>
                   {{car.Model}}
                </td>
                <td>
                    {{car.Engine}}                    
                </td>
                <td>
                    {{car.NoOfDoors}}                   
                </td>
                <td>
                    {{car.BodyType}}                   
                </td>
                <td>
                    <a href="#" class="btn btn-default btn btn-sm" ng-click="vm.editClick(car.Id)"><i class="glyphicon glyphicon-edit"></i></a>
                   @* @Html.ActionLink("Edit", "Edit", new { id = item.Id })*@
                </td>
            </tr>
        

    </table>
</div>
@section scripts {
<script src="~/Scripts/angular.min.js"></script>
<script src="~/app/app.Module.js"></script>
<script src="~/app/car.controller.js"></script>
}